//IMPORT
@mixin centrar($centro){
	margin: 0 auto;
	padding: 0;
}
@mixin transition($tiempo) {
    -webkit-transition: $tiempo;
    -moz-transition: $tiempo;
    -o-transition: $tiempo;
    -ms-transition: $tiempo;
    transition: $tiempo;
}
// GOOGLE FONT
//@import url(https://fonts.googleapis.com/css?family=Roboto:300,250,500,300italic,700,250italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700);
//VARIABLES
// Font Variables
$Roboto: 'Open Sans', sans-serif; 
$fuente-primaria-sitio: 'Open Sans', sans-serif;
$color-fuente-primaria: #969696;
$color-fondo-primario: #FFFFFF;
$centrar : 0;    
*{
    padding: 0px;
    margin: 0px;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: $Roboto;
    color: $color-fuente-primaria;
    background-color: $color-fondo-primario;   
}
//.container{
//   margin: 0 auto;
//	 padding: 0;   
//}
.down_content{
     height: 70px;
     padding-top: 5px!important;
     background-color: rgba(249, 249, 249, 0.95);
//    border-bottom: 1.9px solid #B1B1B1;
 }
.down_nav{
     margin-top: 18px!important;
}
.down_logo{
    width: 65%!important;
}
header{
    color: $color-fuente-primaria;
    width: 100%;
    position: fixed;
    z-index: 10;

        div.content{
               margin: 0 auto;
               padding: 15px 1% 2px 5%;
               width: 100%;
//            background-color: green;
               color: $color-fuente-primaria;
               @include transition(all 0.35s linear);
               a{
                    display: inline-block;
                    vertical-align: middle;
                                figure{
                                        img{
                                            width: 90%;
                                            @include transition(all 0.35s linear);
                                        }
                                    } 
                }
                nav{
//                    width: 82%;
                    float: right;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: right;
//                    margin-bottom: 5px;
                    margin-top: 31px;
                    @include transition(all 0.35s linear);
                    ul{
        //              display: inline-block;
        //              vertical-align: text-top;
                        li{
                            display: inline-block;
                            vertical-align: text-top;
                            margin-right: 25px;
                                a{
                                        color: #696969;
                                        text-transform: uppercase;
                                        text-decoration: none;
                                        display: inline-block;
                                        font-weight: 500;
                                        font-size: 0.95em;
                                        &:hover{
//                                            color:yellow;
                                            display: inline-block;
        
                                         }
                                       &:hover:after{
                                           width: 100%;
                                            background: #868686;
                                            }
                                        &:after{
                                            content: ' ';
                                            display: block;
                                            bottom: 5px;
                                            height: 1.5px;
                                            width: 0;
                                            background: transparent;
                                            transition: width .3s ease, background-color .3s ease;
                                        }
                           

                                  }
  
                          }
                       }
                   }
                }
       }

    
section{
    &.intro{
         width: 100%;
//         background-color: gray;
        article{
            width: 80%;
            margin: 0 auto;
            padding-top: 125px;
            text-align: center;
            div#hello{
                    /* height: 287px; */
                    padding: 12px 0%;
                h2{
                        font-size: 2.8rem;
                        color: #424242;
                        text-transform: capitalize;
                        font-weight: 600;
                        padding-bottom: 5px;
                        letter-spacing: -1px;
                        line-height: 61px;
                        display: inline-block;
                        text-align: center;
                        figure{
                            display: inline-block;
                            vertical-align: middle;
                            padding-top: 15px;
                            width: 35%;
                            img{
                                width: 98%;
                                margin-left: 11px;
                            }
                    }
                  }
                p{
                        color: #2B2B2B;
                        padding: 10px 0%;
                }
                 }
            #guy{
                position: relative;
                display: inline-block;
                text-align: left;
                #yo{
//                    width:39%;
//                    margin-left:-60px;  
                }   
                #saludo{
                    position: absolute;
                    vertical-align: top;
                    display: inline-block;
                    text-align: left;
                    margin-left: -40px;
                   
                }
                div#hello{
                    width: 54%;
                    display: inline-block;
                    text-align: left;
                    margin-left: 3%;
                    vertical-align: top;
                    margin-top: 140px;
                     h2{
                        font-size: 2em;
                        font-family: $Roboto;
                    }
                }
            
            }
            div.container{
                  
                    }
                    
                }
                
            }
        }
main.container{
    margin: 0 auto;
    padding: 0;
    background-color: burlywood;
    height: auto;
    //display: inline-block;
    width: 100%;
    text-align: center;
    ul{
        /* display: inline-block; */
        padding: 18px;
        li{
            display: inline-block;
            width: 20%;
            background-color: brown;
            margin-right: 1.5%;
            /* position: relative; */
            a{
                figure{

                    position: relative;
                    img{
                        width: 100%;
                        @include transition(all 0.35s linear);
                    }
                    &:hover figcaption{
                        display: block;
                    }
                   
                    figcaption{

                        background-color: deepskyblue;
                        width: 100%;
                        height: 20%;
                        position: absolute;
                        text-align: center;
                        top: 0;
                        z-index: 10;
                        display: none;
                       
                    }
                }
                
            }
        }
    }
}
section.container{
    margin: 0 auto;
    padding: 11px 4%;
    background-color: magenta;
    height: auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    p{
        display: inline-block;
        vertical-align: middle;
    }
    div#button_contact{
        display: inline-block;
        vertical-align: middle;
    }
}