//IMPORT
@mixin centrar($centro){
	margin: 0 auto;
	padding: 0;
}
@mixin transition($tiempo) {
    -webkit-transition: $tiempo;
    -moz-transition: $tiempo;
    -o-transition: $tiempo;
    -ms-transition: $tiempo;
    transition: $tiempo;
}
// GOOGLE FONT
//@import url(https://fonts.googleapis.com/css?family=Roboto:300,250,500,300italic,700,250italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic,700);
//VARIABLES
// Font Variables
$OpenSans: 'Open Sans', Arial, Helvetica, sans-serif; 
$fuente-primaria-sitio: 'Open Sans', Arial, Helvetica, sans-serif;
$color-fuente-primaria: #969696;
$color-fondo-primario: #FFFFFF;
$centrar : 0;    
*{
    padding: 0px;
    margin: 0px;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: $OpenSans;
    color: $color-fuente-primaria;
    background-color: $color-fondo-primario;   
}
//.container{
//   margin: 0 auto;
//	 padding: 0;   
//}
//INICIO ESTILOS BOTONERA JQUERY
.down_content{
     height: 70px;
     padding-top: 5px!important;
     background-color: rgba(249, 249, 249, 0.95);
     //border-bottom: 1.9px solid #B1B1B1;
     -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.2);
     box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.2);
 }
.down_nav{
     margin-top: 18px!important;
}
.down_logo{
    width: 108%!important;
}
//FIN ESTILOS BOTONERA JQUERY
header{
    color: $color-fuente-primaria;
    width: 100%;
    position: fixed;
    z-index: 10;
        div.content{
            margin: 0 auto;
            padding: 15px 1% 2px 5%;
            width: 100%;
//          background-color: green;
            color: $color-fuente-primaria;
            @include transition(all 0.35s linear);
            div{
                &#wrapper_header{
                    max-width: 1200px;
                    margin: 0 auto;
                    
                    h1{
                        font-size: 0px;
                        display: inline-block;
                        a{
                            display: inline-block;
                            vertical-align: middle;
                                figure{
                                    img{
                                        width: 140%;
                                            @include transition(all 0.25s linear);
                                        }
                                      } 
                         }
                       }    
                    
                   }
               }    
               
            
    
                nav{
//                    width: 82%;
                    float: right;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: right;
//                    margin-bottom: 5px;
                    margin-top: 31px;
                    @include transition(all 0.35s linear);
                    ul{
        //              display: inline-block;
        //              vertical-align: text-top;
                        li{
                            display: inline-block;
                            vertical-align: text-top;
                            margin-right: 25px;
                                a{
                                        color: #696969;
                                        text-transform: uppercase;
                                        text-decoration: none;
                                        display: inline-block;
                                        font-weight: 500;
                                        font-size: 0.95rem;
                                        &:hover{
//                                            color:yellow;
                                            display: inline-block;
        
                                         }
                                       &:hover:after{
                                           width: 100%;
                                            background: #868686;
                                            }
                                        &:after{
                                            content: ' ';
                                            display: block;
                                            bottom: 5px;
                                            height: 1.5px;
                                            width: 0;
                                            background: transparent;
                                            transition: width .3s ease, background-color .3s ease;
                                        }
                           

                                  }
  
                          }
                       }
                   }
                }
       }  
section{
    &.intro{
         width: 100%;
//         background-color: gray;
        article{
            width: 84.7%;
            margin: 0 auto;
            padding-top: 115px;
            text-align: center;
            
            div#hello{
                    /* height: 287px; */
                    padding: 12px 5%;
                h2{
                    font-size: 2.8rem;
                    color: #424242;
                    text-transform: capitalize;
                    font-weight: 600;
                    padding-bottom: 0px;
                    letter-spacing: -1px;
                    line-height: 61px;
                    display: inline-block;
                    text-align: center;
                    margin-bottom: -9px;
                        figure{
                            display: inline-block;
                            vertical-align: middle;
                            padding-top: 15px;
                            width: 35%;
                            img{
                                width: 98%;
                                margin-left: 11px;
                            }
                    }
                  }
                p{
                        color: #2B2B2B;
                        padding: 10px 0%;
                        font-size: 0.9rem;
                        line-height: 25px;

                }
                 }
            #guy{
                position: relative;
                display: inline-block;
                text-align: left;
                #yo{
//                    width:39%;
//                    margin-left:-60px;  
                }   
                #saludo{
                    position: absolute;
                    vertical-align: top;
                    display: inline-block;
                    text-align: left;
                    margin-left: -40px;
                   
                }
                div#hello{
                    width: 54%;
                    display: inline-block;
                    text-align: left;
                    margin-left: 3%;
                    vertical-align: top;
                    margin-top: 140px;
                     h2{
                        font-size: 2rem;
                        font-family: $OpenSans;
                    }
                }
            
            }
            div.container{
                width: 1070px;
                margin-bottom: 35px;
                //width: 100%;
                  
                    }
                    
                }
                
            }
        }
main{
    &.container{
        margin: 0 auto;
        padding: 0;
    //  background-color: burlywood;
        height: auto;
        //display: inline-block;
        width: 100%;
        text-align: center;
    }
    &.form{
        display: inline-block;
        width: 100%;
        form{
            width: 72%;
            /* display: inline-block; */
            text-align: center;
            margin: 0 auto;
            div{
                &#datos{
                    display: inline-block;
                    vertical-align: top;
                    width: 40%;
                    input[name='nombre'],[name='mail'],[name='asunto']{
                        padding: 6px 9px;
                        width: 95%;
                        margin-bottom: 10px;
                        font-size: 1rem;
                        height: 40px;
                        }
                    input[name='asunto']{
                            margin-left: -4.5px;    
                    }
                 }
                }
            div{
                &#comentario{
                    display: inline-block;
                    width: 48%;
                textarea[name='comentario']{
                    /* margin-left: 10%; */
                    height: 113px;
                    width: 100%;
                    padding: 6px 9px;
                    font-size: 1rem;  
                    }
                    input[type='submit']{
                            width: 100%;
                            height: 41px;
                            border-image: none;
                    }
                }
            }
        }
        article{
           width: 25%;
            padding: 0px;
            text-align: left;
            display: inline-block;
            
        }
    }
    ul{
        list-style-type:none;
        width: 84.6%;
        &.grid {
          background: #EEE;
//          max-width: 1500px;
          margin: 0px auto;
          text-align: center;
          
            &:after{
                 content: '';
                 display: block;
                 clear: both;
                            }
        }
        li{
            &.grid-item{
                width: 350px;
                height: 250px;
                float: left;
                /* vertical gutter */
                margin-bottom: 10px;
                background: #D26;
                border: 2px solid #333;
                border-color: hsla(0, 0%, 0%, 0.5);
            }
            &.grid-item--width2 { width: 450px; }
            &.grid-item--width3 { width: 480px; }    
            &.grid-item--width4 { width: 640px; }
            &.grid-item--height2 { height: 350px; }
            &.grid-item--height3 { height: 512px; }
            &.grid-item--height4 { height: 360px; }
            /*display: inline-block;
            width: 20%;
            background-color: brown;
            margin-right: 1.5%;
             position: relative; */
            a{
                figure{

                    position: relative;
                    img{
                        width: 100%;
                        @include transition(all 0.35s linear);
                    }
                    &:hover figcaption{
                        display: block;
                    }
                   
                    figcaption{

                        background-color: deepskyblue;
                        width: 100%;
                        height: 20%;
                        position: absolute;
                        text-align: center;
                        top: 0;
                        z-index: 10;
                        display: none; 
                    }
                }
                
            }
        }
    }
}
section.container{
    margin: 0 auto;
    padding: 11px 4%;
    /* background-color: magenta; */
    height: auto;
    /* display: inline-block; */
    width: 85%;
    text-align: center;
    /* vertical-align: middle; */
    //text-transform: capitalize;
    border-top: 1px solid #CCC;
    margin-top: 30px;
    p{
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
        width: 80%;
        a{
            text-decoration: none;
            color: gray;
            text-transform: uppercase;
            margin-left: 1%;
        }
    }
    div#button_contact{
        display: inline-block;
        vertical-align: middle;
        a{
            text-decoration: none;
            color: gray;
            text-transform: uppercase;
            margin-left: 5%;
        }
    }
}
aside{
    &.container{
            display: inline-block;
            text-align: center;
            margin: 0 auto;
            width: 100%;
            padding: 4% 1% 2% 1%;    
    }
    a{
        &#logo_footer{
            margin-right: 2%;    
        }
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            text-transform: uppercase;
            color: #9E9E9E;
            font-size: 1.2rem;
        figure{
            img{
                width: 95%;
            }
        }
    }
    ul{
        display: inline-block;
        text-align: left;
        list-style-type: none;
        width: 30%;
        vertical-align: middle;
        }
    address{
        display: inline-block;
        text-align: center;
        width: 25%;
        text-align: left;
        //vertical-align: middle;
        p{
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 300;
            
            a{text-transform: lowercase;}
            span{
                font-size: 1.3rem;
                margin-right: 8px;
                vertical-align: middle;
            }
        }
        }
    div#social{
        display: inline-block;
        text-align: right;
        width: 35%;
        //vertical-align: middle;
        ul{
            text-align: right;
            font-size: 1.3rem;
            li{
                &:last-child{
                    margin-right: 0px;
                }
                margin-right: 10px; 
                }
            }
        }
    ul{
        &#categorias{
            display: inline-block;
            width: 14%;
            vertical-align: middle;
            font-weight: 300;
            li{
                display: block;
                padding: 3px 0;
              }
        }
        display: inline-block;
        width: 55%;
        li{
            display: inline-block;    
        }
    }
    p{font-size: 0.8rem;
      font-style: normal;
      text-transform: uppercase;
    }
}
footer{
    background-color: #F1F1F1;
    bottom: 0px;
    //position: absolute;
    width: 100%;
    p{
        font-size: 0.8rem;
        padding: 0.5%;
        text-align: center;
    }
}
